td, th {
  vertical-align: middle!important;
  text-align: center!important;
}

svg {
  height: 150px;
}

td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 200px;
}

.error {
  color: red;
}

.uesr-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  min-width: 300px;
}
